<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="bingo_game_page">
    <p class="page-header_2">正しい内容はどれ？  タテ・ヨコ・ナナメのどれかが揃えばあなたの勝ち！</p>

    <table class="table1" border="1">
      <tr>
        <td id="target_1_1"><p>1 医療費が戻ってくるので手続きをしてくださいという電話がったが、怪しかったのでそのままにしておいた。</p></td> <!-- correct 還付金詐欺 -->
        <td id="target_1_2"><p>2 息子から電話があってお金が必要とのことだったのですぐに送ってやった。</p></td> <!-- オレオレ詐欺 -->
        <td id="target_1_3"><p>3 パソコンを触っていたとき急に警報音がしたので、びっくりしてすぐに表示された番号に電話した。</p></td> <!-- サポート詐欺 -->
        <td id="target_1_4"><p>4 先日ある雑誌に会員登録すればパチンコの有料情報をタダで送るという記事が出ていたが、危なさそうだったので登録しなかった。</p></td> <!-- correct ギャンブル詐欺 -->
        <td id="target_1_5"><p>5 LINEを見ていたらホリエモンが投資セミナーを勧誘していたので、試しに出てみようと思う。</p></td> <!-- SNS投資詐欺 -->
      </tr>
  
      <tr>
        <td id="target_1_6"><p>6 裁判所から料金未払いの通知が来たのが、心当たりがなかったのでそのままにしておいた。</p></td> <!-- correct 架空料金請求詐欺 -->
        <td id="target_1_7"><p>7 融資をするというチラシが入っていたが、銀行のようなきちんとしたところから借りようと思う。</p></td> <!-- correct 融資保証金詐欺 -->
        <td id="target_1_8"><p>8 元本保証のデリバティブというものを勧められたが、よくわからなかったので断った。</p></td> <!-- correct 金融商品詐欺 -->
        <td id="target_1_9"><p>9 街できれいな女の人に声をかけられて投資グループに入らないかと誘われたが、一緒にいた男の人がやばそうだったので逃げてきた。</p></td> <!-- correct -->
        <td id="target_1_10"><p>10 キャッシュカードが不正に使われたという連絡があったので、警察官に待機してもらい、その人にはうちに来るように伝えた。</p></td> <!-- correct キャッシュカード詐欺盗 -->
      </tr>

      <tr>
        <td id="target_1_11"><p>11 「女の人紹介」というチラシを見たので、彼女ができればいいと思い連絡しようと思う。</p></td> <!-- 交際あっせん詐欺 -->
        <td id="target_1_12"><p>12 ためしにある投資セミナーに出てみたが、儲かりそうな話だったので、とりあえず50万預けてみようと思う。</p></td>
        <td id="target_1_13"><p>13 家の固定電話に総務省の職員を名乗る人から電話があって、携帯電話の解約をしないと大変なことになるということだった。変な話だったので警察に連絡した。</p></td> <!-- correct 詐欺予兆電話 -->
        <td id="target_1_14"><p>14 自分の逮捕状が携帯に送られてきたのでびっくりして連絡先の番号に連絡した。</p></td>
        <td id="target_1_15"><p>15 銀行から携帯に新紙幣が使えなくなるとの連絡があったが、そなバカなことはないと思い相手にしなかった。</p></td> <!-- correct 便乗詐欺 -->
      </tr>

      <tr>
        <td id="target_1_16"><p>16 マッチングアプリで知り合った女の人から20万円貸してほしいと言われた。好みの人だったし、金額も多くなかったので貸してやった。</p></td> <!-- ロマンス詐欺 -->
        <td id="target_1_17"><p>17 LINEを使ったSNS投資詐欺が流行だとのニュースが出ていたので、SNSを利用するときは注意するようにした。</p></td> <!-- correct SNS投資詐欺 -->
        <td id="target_1_18"><p>18 警察から「あなたが容疑者になっている」との連絡があり、LINEのビデオ通話で逮捕状も見せられた。「逮捕されないためには50万円必要だ」との説明があったので支払った。</p></td>
        <td id="target_1_19"><p>19 「定額減税で10万円戻ってくる」との連絡があり、返納のためにATMで言われた番号を押そうとしたが、何か変だと思ってそのまま帰ってきた。</p></td> <!-- correct -->
        <td id="target_1_20"><p>20 家に銀行員が来て、「新紙幣が発行されたので通帳も新しくしないといけない」と言われ、通帳を預からせてほしいと言われたので渡した。</p></td> <!-- 預貯金詐欺 -->
      </tr>

      <tr>
        <td id="target_1_21"><p>21 町内で変な電話が来るといううわさがあるので、みんなで情報共有をするように心がけている。</p></td> <!-- correct -->
        <td id="target_1_22"><p>22 特殊詐欺の種類は10個なので、具体的な手口を警察のホームページなどで見ることにしている。</p></td> <!-- correct -->
        <td id="target_1_23"><p>23 詐欺犯は固定電話から近づくことが多いそうなので、近々固定電話を取り外そうと思う。</p></td> <!-- correct -->
        <td id="target_1_24"><p>24 知らない人から電話があっても、あわてないで冷静になろうと思う。</p></td> <!-- correct -->
        <td id="target_1_25"><p>25 詐欺に遭う原因の一つは判断のバイアスにあると聞いたことがあるので、心のバイアスについて勉強しようと思う。</p></td> <!-- correct -->
      </tr>

    </table>

    <br>
    
    <table class="table2" border="1">
      <tr>
        <td id="target_2_1">1</td>
        <td id="target_2_2">2</td>
        <td id="target_2_3">3</td>
        <td id="target_2_4">4</td>
        <td id="target_2_5">5</td>
      </tr>

      <tr>
        <td id="target_2_6">6</td>
        <td id="target_2_7">7</td>
        <td id="target_2_8">8</td>
        <td id="target_2_9">9</td>
        <td id="target_2_10">10</td>
      </tr>

      <tr>
        <td id="target_2_11">11</td>
        <td id="target_2_12">12</td>
        <td id="target_2_13">13</td>
        <td id="target_2_14">14</td>
        <td id="target_2_15">15</td>
      </tr>

      <tr>
        <td id="target_2_16">16</td>
        <td id="target_2_17">17</td>
        <td id="target_2_18">18</td>
        <td id="target_2_19">19</td>
        <td id="target_2_20">20</td>
      </tr>

      <tr>
        <td id="target_2_21">21</td>
        <td id="target_2_22">22</td>
        <td id="target_2_23">23</td>
        <td id="target_2_24">24</td>
        <td id="target_2_25">25</td>
      </tr>

    </table>
    
    <div id="start_button">
      <a class="start" href='final_page'>８．マイナンバーについての確認ページへ</a>
      </div>



    <br>
    <p id='output_1'></p>
    <br>


    <script>

    var storage=localStorage;
    /*
    // localStorageの初期化
    storage.setItem('target_2_1', '');
    storage.setItem('target_2_2', '');
    storage.setItem('target_2_3', '');
    storage.setItem('target_2_4', '');
    storage.setItem('target_2_5', '');

    storage.setItem('target_2_6', '');
    storage.setItem('target_2_7', '');
    storage.setItem('target_2_8', '');
    storage.setItem('target_2_9', '');
    storage.setItem('target_2_10', '');
    
    storage.setItem('target_2_11', '');
    storage.setItem('target_2_12', '');
    storage.setItem('target_2_13', '');
    storage.setItem('target_2_14', '');
    storage.setItem('target_2_15', '');
    
    storage.setItem('target_2_16', '');
    storage.setItem('target_2_17', '');
    storage.setItem('target_2_18', '');
    storage.setItem('target_2_19', '');
    storage.setItem('target_2_20', '');

    storage.setItem('target_2_21', '');
    storage.setItem('target_2_22', '');
    storage.setItem('target_2_23', '');
    storage.setItem('target_2_24', '');
    storage.setItem('target_2_25', '');
    */

    // table2のセルの背景色データ取得
    if(storage.getItem('target_2_1')==''){

      document.getElementById('target_2_1').style.backgroundColor='';

    }else{

      document.getElementById('target_2_1').style.backgroundColor=storage.getItem('target_2_1');

    }

    if(storage.getItem('target_2_2')==''){

      document.getElementById('target_2_2').style.backgroundColor='';

    }else{

      document.getElementById('target_2_2').style.backgroundColor=storage.getItem('target_2_2');

    }

    if(storage.getItem('target_2_3')==''){

      document.getElementById('target_2_3').style.backgroundColor='';

    }else{

      document.getElementById('target_2_3').style.backgroundColor=storage.getItem('target_2_3');

    }

    if(storage.getItem('target_2_4')==''){

      document.getElementById('target_2_4').style.backgroundColor='';

    }else{

      document.getElementById('target_2_4').style.backgroundColor=storage.getItem('target_2_4');

    }

    if(storage.getItem('target_2_5')==''){

      document.getElementById('target_2_5').style.backgroundColor='';

    }else{

      document.getElementById('target_2_5').style.backgroundColor=storage.getItem('target_2_5');

    }


    if(storage.getItem('target_2_6')==''){

      document.getElementById('target_2_6').style.backgroundColor='';

    }else{

      document.getElementById('target_2_6').style.backgroundColor=storage.getItem('target_2_6');

    }

    if(storage.getItem('target_2_7')==''){

      document.getElementById('target_2_7').style.backgroundColor='';

    }else{

      document.getElementById('target_2_7').style.backgroundColor=storage.getItem('target_2_7');

    }
    
    if(storage.getItem('target_2_8')==''){

      document.getElementById('target_2_8').style.backgroundColor='';

    }else{

      document.getElementById('target_2_8').style.backgroundColor=storage.getItem('target_2_8');

    }

    if(storage.getItem('target_2_9')==''){

      document.getElementById('target_2_9').style.backgroundColor='';

    }else{

      document.getElementById('target_2_9').style.backgroundColor=storage.getItem('target_2_9');

    }

    if(storage.getItem('target_2_10')==''){

      document.getElementById('target_2_10').style.backgroundColor='';

    }else{

      document.getElementById('target_2_10').style.backgroundColor=storage.getItem('target_2_10');

    }


    if(storage.getItem('target_2_11')==''){

      document.getElementById('target_2_11').style.backgroundColor='';

    }else{

      document.getElementById('target_2_11').style.backgroundColor=storage.getItem('target_2_11');

    }

    if(storage.getItem('target_2_12')==''){

      document.getElementById('target_2_12').style.backgroundColor='';

    }else{

      document.getElementById('target_2_12').style.backgroundColor=storage.getItem('target_2_12');

    }

    if(storage.getItem('target_2_13')==''){

      document.getElementById('target_2_13').style.backgroundColor='';

    }else{

      document.getElementById('target_2_13').style.backgroundColor=storage.getItem('target_2_13');

    }

    if(storage.getItem('target_2_14')==''){

      document.getElementById('target_2_14').style.backgroundColor='';

    }else{

      document.getElementById('target_2_14').style.backgroundColor=storage.getItem('target_2_14');

    }

    if(storage.getItem('target_2_15')==''){

      document.getElementById('target_2_15').style.backgroundColor='';

    }else{

      document.getElementById('target_2_15').style.backgroundColor=storage.getItem('target_2_15');

    }


    if(storage.getItem('target_2_16')==''){

      document.getElementById('target_2_16').style.backgroundColor='';

    }else{

      document.getElementById('target_2_16').style.backgroundColor=storage.getItem('target_2_16');

    }

    if(storage.getItem('target_2_17')==''){

      document.getElementById('target_2_17').style.backgroundColor='';

    }else{

      document.getElementById('target_2_17').style.backgroundColor=storage.getItem('target_2_17');

    }

    if(storage.getItem('target_2_18')==''){

      document.getElementById('target_2_18').style.backgroundColor='';

    }else{

      document.getElementById('target_2_18').style.backgroundColor=storage.getItem('target_2_18');

    }

    if(storage.getItem('target_2_19')==''){

      document.getElementById('target_2_19').style.backgroundColor='';

    }else{

      document.getElementById('target_2_19').style.backgroundColor=storage.getItem('target_2_19');

    }

    if(storage.getItem('target_2_20')==''){

      document.getElementById('target_2_20').style.backgroundColor='';

    }else{

      document.getElementById('target_2_20').style.backgroundColor=storage.getItem('target_2_20');

    }

    if(storage.getItem('target_2_21')==''){

      document.getElementById('target_2_21').style.backgroundColor='';

    }else{

      document.getElementById('target_2_21').style.backgroundColor=storage.getItem('target_2_21');

    }

    if(storage.getItem('target_2_22')==''){

      document.getElementById('target_2_22').style.backgroundColor='';

    }else{

      document.getElementById('target_2_22').style.backgroundColor=storage.getItem('target_2_22');

    }

    if(storage.getItem('target_2_23')==''){

      document.getElementById('target_2_23').style.backgroundColor='';

    }else{

      document.getElementById('target_2_23').style.backgroundColor=storage.getItem('target_2_23');

    }

    if(storage.getItem('target_2_24')==''){

      document.getElementById('target_2_24').style.backgroundColor='';

    }else{

      document.getElementById('target_2_24').style.backgroundColor=storage.getItem('target_2_24');

    }

    if(storage.getItem('target_2_25')==''){

      document.getElementById('target_2_25').style.backgroundColor='';

    }else{

      document.getElementById('target_2_25').style.backgroundColor=storage.getItem('target_2_25');

    }





    // event listener
    document.addEventListener('DOMContentLoaded', function(){

      document.getElementById('target_1_1').addEventListener('click', function(){

        document.getElementById('target_2_1').style.backgroundColor='#e198b4';

        storage.setItem('target_2_1', '#e198b4');

        document.getElementById('output_1').textContent=storage.getItem('target_2_1');

        setTimeout(function(){
          window.location='target_page_1_1';
        }, 1000);
  
      }, false);

      document.getElementById('target_1_2').addEventListener('click', function(){

        document.getElementById('target_2_2').style.backgroundColor='';

        storage.setItem('target_2_2', '');

        document.getElementById('output_1').textContent=storage.getItem('target_2_2');

        setTimeout(function(){
          window.location='target_page_1_2';
        }, 1000);

      }, false);

      document.getElementById('target_1_3').addEventListener('click', function(){

        document.getElementById('target_2_3').style.backgroundColor='';

        storage.setItem('target_2_3', '');

        document.getElementById('output_1').textContent=storage.getItem('target_2_3');

        setTimeout(function(){
          window.location='target_page_1_3';
        }, 1000);

      }, false);

      document.getElementById('target_1_4').addEventListener('click', function(){

        document.getElementById('target_2_4').style.backgroundColor='#e198b4';

        storage.setItem('target_2_4', '#e198b4');

        document.getElementById('output_1').textContent=storage.getItem('target_2_4');

        setTimeout(function(){
          window.location='target_page_1_4';
        }, 1000);

      }, false);

      document.getElementById('target_1_5').addEventListener('click', function(){

        document.getElementById('target_2_5').style.backgroundColor='';

        storage.setItem('target_2_5', '');

        document.getElementById('output_1').textContent=storage.getItem('target_2_5');

        setTimeout(function(){
          window.location='target_page_1_5';
        }, 1000);

      }, false);


      document.getElementById('target_1_6').addEventListener('click', function(){

        document.getElementById('target_2_6').style.backgroundColor='#e198b4';

        storage.setItem('target_2_6', '#e198b4');

        document.getElementById('output_1').textContent=storage.getItem('target_2_6');

        setTimeout(function(){
          window.location='target_page_1_6';
        }, 1000);

      }, false);


      document.getElementById('target_1_7').addEventListener('click', function(){

        document.getElementById('target_2_7').style.backgroundColor='#e198b4';

        storage.setItem('target_2_7', '#e198b4');

        document.getElementById('output_1').textContent=storage.getItem('target_2_7');

        setTimeout(function(){
          window.location='target_page_1_7';
        }, 1000);

      }, false);


      document.getElementById('target_1_8').addEventListener('click', function(){

        document.getElementById('target_2_8').style.backgroundColor='#e198b4';

        storage.setItem('target_2_8', '#e198b4');

        document.getElementById('output_1').textContent=storage.getItem('target_2_8');

        setTimeout(function(){
          window.location='target_page_1_8';
        }, 1000);

      }, false);


      document.getElementById('target_1_9').addEventListener('click', function(){

        document.getElementById('target_2_9').style.backgroundColor='#e198b4';

        storage.setItem('target_2_9', '#e198b4');

        document.getElementById('output_1').textContent=storage.getItem('target_2_9');

        setTimeout(function(){
          window.location='target_page_1_9';
        }, 1000);

      }, false);


      document.getElementById('target_1_10').addEventListener('click', function(){

        document.getElementById('target_2_10').style.backgroundColor='#e198b4';

        storage.setItem('target_2_10', '#e198b4');

        document.getElementById('output_1').textContent=storage.getItem('target_2_10');

        setTimeout(function(){
          window.location='target_page_1_10';
        }, 1000);

      }, false);



      document.getElementById('target_1_11').addEventListener('click', function(){

        document.getElementById('target_2_11').style.backgroundColor='';

        storage.setItem('target_2_11', '');

        document.getElementById('output_1').textContent=storage.getItem('target_2_11');

        setTimeout(function(){
          window.location='target_page_1_11';
        }, 1000);

      }, false);


      document.getElementById('target_1_12').addEventListener('click', function(){

        document.getElementById('target_2_12').style.backgroundColor='';

        storage.setItem('target_2_12', '');

        document.getElementById('output_1').textContent=storage.getItem('target_2_12');

        setTimeout(function(){
          window.location='target_page_1_12';
        }, 1000);

      }, false);


      document.getElementById('target_1_13').addEventListener('click', function(){

        document.getElementById('target_2_13').style.backgroundColor='#e198b4';

        storage.setItem('target_2_13', '#e198b4');

        document.getElementById('output_1').textContent=storage.getItem('target_2_13');

        setTimeout(function(){
          window.location='target_page_1_13';
        }, 1000);

      }, false);


      document.getElementById('target_1_14').addEventListener('click', function(){

        document.getElementById('target_2_14').style.backgroundColor='';

        storage.setItem('target_2_14', '');

        document.getElementById('output_1').textContent=storage.getItem('target_2_14');

        setTimeout(function(){
          window.location='target_page_1_14';
        }, 1000);

      }, false);


      document.getElementById('target_1_15').addEventListener('click', function(){

        document.getElementById('target_2_15').style.backgroundColor='#e198b4';

        storage.setItem('target_2_15', '#e198b4');

        document.getElementById('output_1').textContent=storage.getItem('target_2_15');

        setTimeout(function(){
          window.location='target_page_1_15';
        }, 1000);

      }, false);



      document.getElementById('target_1_16').addEventListener('click', function(){

        document.getElementById('target_2_16').style.backgroundColor='';

        storage.setItem('target_2_16', '');

        document.getElementById('output_1').textContent=storage.getItem('target_2_16');

        setTimeout(function(){
          window.location='target_page_1_16';
        }, 1000);

      }, false);


      document.getElementById('target_1_17').addEventListener('click', function(){

        document.getElementById('target_2_17').style.backgroundColor='#e198b4';

        storage.setItem('target_2_17', '#e198b4');

        document.getElementById('output_1').textContent=storage.getItem('target_2_17');

        setTimeout(function(){
          window.location='target_page_1_17';
        }, 1000);

      }, false);


      document.getElementById('target_1_18').addEventListener('click', function(){

        document.getElementById('target_2_18').style.backgroundColor='';

        storage.setItem('target_2_18', '');

        document.getElementById('output_1').textContent=storage.getItem('target_2_18');

        setTimeout(function(){
          window.location='target_page_1_18';
        }, 1000);

      }, false);


      document.getElementById('target_1_19').addEventListener('click', function(){

        document.getElementById('target_2_19').style.backgroundColor='#e198b4';

        storage.setItem('target_2_19', '#e198b4');

        document.getElementById('output_1').textContent=storage.getItem('target_2_19');

        setTimeout(function(){
          window.location='target_page_1_19';
        }, 1000);

      }, false);


      document.getElementById('target_1_20').addEventListener('click', function(){

        document.getElementById('target_2_20').style.backgroundColor='';

        storage.setItem('target_2_20', '');

        document.getElementById('output_1').textContent=storage.getItem('target_2_20');

        setTimeout(function(){
          window.location='target_page_1_20';
        }, 1000);

      }, false);


      document.getElementById('target_1_21').addEventListener('click', function(){

        document.getElementById('target_2_21').style.backgroundColor='#e198b4';

        storage.setItem('target_2_21', '#e198b4');

        document.getElementById('output_1').textContent=storage.getItem('target_2_21');

        setTimeout(function(){
          window.location='target_page_1_21';
        }, 1000);

      }, false);


      document.getElementById('target_1_22').addEventListener('click', function(){

        document.getElementById('target_2_22').style.backgroundColor='#e198b4';

        storage.setItem('target_2_22', '#e198b4');

        document.getElementById('output_1').textContent=storage.getItem('target_2_22');

        setTimeout(function(){
          window.location='target_page_1_22';
        }, 1000);

      }, false);


      document.getElementById('target_1_23').addEventListener('click', function(){

        document.getElementById('target_2_23').style.backgroundColor='#e198b4';

        storage.setItem('target_2_23', '#e198b4');

        document.getElementById('output_1').textContent=storage.getItem('target_2_23');

        setTimeout(function(){
          window.location='target_page_1_23';
        }, 1000);

      }, false);


      document.getElementById('target_1_24').addEventListener('click', function(){

        document.getElementById('target_2_24').style.backgroundColor='#e198b4';

        storage.setItem('target_2_24', '#e198b4');

        document.getElementById('output_1').textContent=storage.getItem('target_2_24');

        setTimeout(function(){
          window.location='target_page_1_24';
        }, 1000);

      }, false);


      document.getElementById('target_1_25').addEventListener('click', function(){

        document.getElementById('target_2_25').style.backgroundColor='#e198b4';

        storage.setItem('target_2_25', '#e198b4');

        document.getElementById('output_1').textContent=storage.getItem('target_2_25');

        setTimeout(function(){
          window.location='target_page_1_25';
        }, 1000);

      }, false);




    }, false);



    </script>




  </body>
</html>