<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="main_title">７．ビンゴゲームについて</h1>
    
  
    <p class="container_1">
      以下、少し長い文章が続きますが、ゆっくり読んで理解して下さい。<br>
      これから、詐欺についてどのくらい理解しているかを確認するビンゴゲームをします。</p>
     
      <div class="box3">
        <h1 class="page-header_3">ビンゴゲームの手順</h1>
        <table id="disp-area">

           <tr>
             <td>
            １．上のビンゴ表の中から、どのマスからでもいいので、正しいと思うマスをクリック。
             </td>
             <td><img src="images/game_tejun_2.png" width="450vmax"></td>
          </tr>
          <tr><td>
            ２．上下の表は対応しており、上のマスをクリックすると同じ場所のマスの色が変わります。
           </td>
           <td><img src="images/game_tejun_3.png" width="450vmax"></td>
        </tr>
        <tr>
           <td>
            ３．２秒後に、正解か不正解かを教える解説ページへ切り替わります。
            </td>
            <td><img src="images/game_tejun_4.png"width="450vmax" ></td>
        </tr>
       
        <tr>
            <td>
                ４．解説ページをよく読んで下さい。そのとき、マウスのカーソルがあなたの視線の先にあるようにカーソルを動かしながら読んでください。
                ゆっくり、繰り返し何度読んでもかまいません。同じページを何度読んでも結構です。
                
            </td>
            <td><img src="images/game_tejun_5.png" width="450vmax"></td>
        </tr>
      </table>

      <div class="rule">
        <a class="container_5">
        ５．赤のマスがタテ・ヨコ・ナナメのどれか５個並ぶまでビンゴゲームを続けて下さい。タテかヨコかナナメいずれか一列そろったら終了です。
        </a>
       <div><img src="images/game_tejun_6.png" width="450vmax"></div>
    </div>
    </div>
<br>
<br>
      <div class="box1">
        <span class="box-title">注意点</span>
        <div class="rule">
      <ol>
      <li>ルールは普通のビンゴゲームと同じです。</li>
      <li>ビンゴゲームは縦と横それぞれ５個のマスで、合計２５個のマスが上と下にそれぞれ１個表示されます。</li>
      <li>上に表示されるビンゴゲームのマスには文章が書いてあります。</li>
      <li>あなたが行うことは、どのマスでもかまいませんので、上に表示されるビンゴゲームのマスに表示されている文章を読んでそれが正しい内容であるかを判断して下さい。</li>
      <li>そして、あなたが正しいと思うマスをクリックして下さい。</li>
      <li>クリックされたマスに表示された文章が正しい場合には、下に表示されるビンゴゲームのマスが赤に変わります。</li>
      <li>あなたは、赤のマスがタテ・ヨコ・ナナメのどれでも構いませんが５個並ぶまでビンゴゲームを続けて下さい。</li>
      <li>タテかヨコかナナメに赤のマスが５個並んだら終了です。</li>
      </ol>
      <div class="bingo_image"><img src="images/game_tejun_1.png" width="450vmax"></div>
      </div>
      </div>

      <div class="box2">
        <span class="box-title">!! 大事な注意点 !!</span>
      <ul>
      <li>あなたが上に表示されるビンゴゲームのマスをクリックすると、そのマスが正解のマスなのか、不正解のマスなのかを教えるページに切り替わります。</li>
      <li>あなたは、そのページを読んでください。</li>
      <li>このページには詐欺を見抜く方法や詐欺被害に遭わないようにするにはどうしたらよいかが書いてあります。</li>
      <li>制限時間はありませんので、急いで読む必要はありません。</li>
      <li>ゆっくり読んで下さっても結構です。</li>
      <li>また、繰り返し何度読んで下さってもかまいません。</li>
      <li>同じページを何度ご覧になっても結構です。</li>
      <li>このあたりのことはあなたにお任せします。</li>
      
      </ul>
      </div>
   
      <h1 class="page-header_4"> それでは下のボタンをクリックして始めましょう！</h1>

    <div id="start_button">
    <a class="start" href='bingo_game'>ビンゴゲームへ</a>
    </div>
      
      
  </body>
      
</html>  
