<!DOCTYPE html>
<html lang="ja"></html>
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>データの送付</title>
</head>

<body>
    <h1 class="main_title">10．データの送付</h1>

   

    <p class="container_4">
    これが最後の作業になります。<br>
    ご自身が普段お使いになっているメールでデータを送信していただきたいと思います。<br>
    ダウンロードしたデータのテキストファイルを、添付で下記メールアドレスへお送り下さい。

    <p class="mail">watanabe314labo@gmail.com</p><br><br>


        
        <div class="box3">
            <h1 class="page-header_3">ダウンロードしたデータの保存先</h1>
            <table id="disp-area">

               <tr>
            　   <td>
                １．あなたのパソコンの画面下のバーにある「エクスプローラー」というフォルダーを開いてください。
                 </td>
                 <td><img src="images/end_01.png" width="500vmax"></td>
              </tr>
              </table>

              <div class="rule">
                <a class="container_6">
                    ２．「ダウンロード」というフォルダーに「data」または「data.txt」というファイルがあるか確認してください。<br>
                    このファイルをメールに添付してお送りください。
                </a>
               <div class="end"><img src="images/end_02.png" width="500vmax" ></div>
            </div>
            </div>
    


            </table>
            <h1 class="page-header_4">以上ですべて終了です。<br>ありがとうございました。</h1>
          </div>
     

</body>

</html>
