<!DOCTYPE html>
<html>
 
  
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body class="main_1">
    <h1>認知バイアス診断 ビンゴゲーム</h1>
    <br>


    <div id="start_00_button">
    <a class="start_00" href='bingo' id='start_1'>１．開始ページへ</a>
    </div>


    <div class="main_2">
      <h2>一般社団法人 コラップ</h2>
    </div>

    
    <script>

      var storage=localStorage;


      document.addEventListener('DOMContentLoaded', function(){
    
        document.getElementById('start_1').addEventListener('click', function () {
        
          storage.clear();
 
    
       }, false);
      
       
      }, false);

    </script>
    


  </body>

</html>