<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="main_title">６．マイナンバーについて</h1>

    <p style="font-size:28px; margin-left:25px;">
      マイナンバーについて、色々お聞きします。

      <table  id="input_form">
        <tbody>
            <tr>
                <th>まず、あなたはマイナンバー制度についてどの程度ご存知ですか。<br>ご自分にあてはまる番号を1つ選んで入力してください。<br><a>　　　１ 全く知らない<br>　　　２ あまりよく知らない<br>　　　３ 少しなら知っている<br>　　　４ よく知っている</a></th>
                <td ><input type="text"  placeholder="回答" style="width: 53px;padding:8px;font-size:24px;" name="q_1" id="q_1" >
                   <input type="button" style="width: 100px;padding:5px;font-size:20px;" value="決定" id="q_1_input">
                </td>
            </tr>

            <tr>
                <th>次に、マイナンバーカードをお持ちになっているかお聞きします。<br>あなたは、マイナンバーカードを現在お持ちですか？<br><a>　　　１ 持っている<br>　　　２ 持っていない</a></th>
                <td ><input type="text"  placeholder="回答" style="width: 53px;padding:8px;font-size:24px;" name="q_2" id="q_2" >
                   <input type="button" style="width: 100px;padding:5px;font-size:20px;" value="決定" id="q_2_input">
                </td>
            </tr>

            <tr>
               <th>次の質問です。<br>
                マイナンバーについて、テレビや新聞などで広報されていますが、<br>あなたはご覧になったことがありますか。<br><a>　　　１ 見たことがある<br>　　　２ 見たことがない<br>　　　３ わからない</a></th>
               <td ><input type="text"  placeholder="回答" style="width: 53px;padding:8px;font-size:24px;" name="q_3" id="q_3" >
                 <input type="button" style="width: 100px;padding:5px;font-size:20px;" value="決定" id="q_3_input">
               </td>
            </tr>

            <tr>
              <th>最後の質問です。<br>
               今現在、マイナンバーカードを取得するお考えはありますか？<br><br><a>　　　１ 取得するつもりである<br>　　　２ 取得する考えはない<br>　　　３ すでに持っている</a></th>
              <td ><input type="text"  placeholder="回答" style="width: 53px;padding:8px;font-size:24px;" name="q_4" id="q_4" >
                <input type="button" style="width: 100px;padding:5px;font-size:20px;" value="決定" id="q_4_input">
              </td>
           </tr>

        </tbody>
      </table>

    </p>
    <br>

    <br><br>
    <p id="output_1"></p>
    <p id="output_2"></p>
    <p id='output_3'></p>
    <p id='output_4'></p>
    <p id='output_5'></p>
    <br><br>



    <div id="start_button">
    <a class="start" href='bingo'>７．ビンゴゲームのページへ</a>
    </div>
      

    <script>

      var storage=localStorage;

      var search_1=0;
      var search_2=0;
      var search_3=0;
      var search_4=0;
      var search=0;



      document.addEventListener('DOMContentLoaded', function(){

        document.getElementById('q_1_input').addEventListener('click', function () {

          search_1 = document.getElementById('q_1').value;
          //document.getElementById('output_1').textContent ='あなたのAは'+search_1+'です。';

        }, false);

        document.getElementById('q_2_input').addEventListener('click', function () {

          search_2 = document.getElementById('q_2').value;
          //document.getElementById('output_2').textContent ='あなたのBは'+search_2+'です。';

        }, false);

        document.getElementById('q_3_input').addEventListener('click', function () {

          search_3 = document.getElementById('q_3').value;
          //document.getElementById('output_3').textContent ='あなたのCは'+search_3+'です。';

        }, false);


        document.getElementById('q_4_input').addEventListener('click', function () {

          search_4 = document.getElementById('q_4').value;
          //document.getElementById('output_4').textContent ='あなたのDは'+search_4+'です。';

          ID=storage.getItem('ID');
          search=ID+','+'my_number_1'+','+search_1+','+search_2+','+search_3+','+search_4;
          //document.getElementById('output_5').textContent ='あなたの回答は'+search+'です。';


          storage.setItem('my_number_1', search);


        }, false);


      }, false);


    </script>


      
  </body>
      
</html>  
