<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="main_title">８．マイナンバーについての確認</h1>
    
    <table  id="input_form">
      <tbody>
          
          <tr>
            <th>質問です。<br>
             ビンゴゲームを行ったことによって、マイナンバーについてだいぶ詳しくなったと思います。<br>
             そこで、あなたは今後マイナンバーカードを取得するお考えはありますか？<br><br><a>　　　１ 取得するつもりである<br>　　　２ 取得する考えはない<br>　　　３ すでに持っている</a></th>
            <td ><input type="text"  placeholder="回答" style="width: 53px;padding:8px;font-size:24px;" name="q_0" id="q_0" >
              <input type="button" style="width: 100px;padding:5px;font-size:20px;" value="決定" id="q_0_input">
            </td>
         </tr>

      </tbody>
    </table>


    <br><br>
    <p id="output_0"></p>
    <p id='output'></p>
    <br><br>




    <div id="start_button">
    <a class="start" href='final_page'>９．データの送付準備のページへ</a>
    </div>
      
     
    <script>

      var storage=localStorage;

      var search_0=0;
      var search=0;

      document.addEventListener('DOMContentLoaded', function(){

        document.getElementById('q_0_input').addEventListener('click', function () {

          search_0 = document.getElementById('q_0').value;
          //document.getElementById('output_0').textContent ='あなたの回答は'+search_0+'です。';

          ID=storage.getItem('ID');
          search=ID+','+'my_number_2'+','+search_0;
          //document.getElementById('output').textContent ='あなたの回答は'+search+'です。';


          storage.setItem('my_number_2', search);


        }, false);


      },false, );

    </script>






  </body>
      
</html>  
