<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="main_title">２．回答のやり方</h1>
    
    <p class="container_1">
      それでは、回答のやり方を説明します。<br>
      どの問も文章を読んでいただいて、ご自分に当てはまる番号を1つ選んでいただくものです。<br>
      ただし、注意点が2つあります。<br><br>
      まず、回答はご自分に当てはまる番号を空欄に入れていただいた後、必ず空欄の右にある「決定」ボタンをクリックして下さい。<br><br>
      また、これ以後ウィンドウズの画面は最大にして下さい。<br>
      以上2つの点をどうぞ忘れないようにお願いいたします。<br>
    <br>
    <br>
      それでは、基本情報の入力ページへ行きましょう。
    </p>


    <div id="start_button">
    <a class="start" href='basic_info'>３．基本情報の入力へ</a>
    </div>
      
      
  </body>
      
</html>   
