<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--　出典：https://zeimo.jp/article/31645-->
  </head>
  <body>
    <h1 class="page_header_1"><span>20</span>マイナンバーは５歳以上から運用</h1>

  <article>
    <div class="container_1">

      <table>
        <tr><td></td></tr>
      </table>

      <table>
        <tr><td>マイナンバーは「出生届＋住民票登録」が済んだタイミングで通知されますから、</td></tr>
      </table>

      <table>
        <tr><td>マイナンバーカードは０歳から作成可能です。</td></tr>
      </table>

      <table>
        <tr><td>子どものマイナンバーカードを作ることになった場合、気になるのが作り方ですよね。</td></tr>
        <tr><td>でも大丈夫。簡単です。</td></tr>
      </table>

      <table>
        <tr><td>出生届が出されて住民票の登録が行われると、</td></tr>
        <tr><td>2～3週間後に自宅にマイナンバー通知カードとマイナンバーカード交付申請書が簡易</td></tr>
        <tr><td>書留で届きます。あとは大人の場合と同じように顔写真を用意してパソコンとか</td></tr>
        <tr><td>スマホでも手続きできます。</td></tr>
      </table>　

      <table>
        <tr><td>近所に娘夫婦がいる浅野さん（女性、66歳、大阪市在住）は、ご自分がお孫さんの</td></tr>
        <tr><td>マイナンバーカードの手続きをしたそうです。</td></tr>
        <tr><td>「娘たちったらからっきし機械オンチなの。私の方がよっぽど詳しいわ。</td></tr>
        <tr><td>だから、孫のマイナンバーカードもとってやったの。</td></tr>
        <tr><td id='positive_1'>自分でマイナンバーをとってやったら、なんだか孫がよけいかわいくなったわ。」と顔をほころばせていました。</td></tr>
      </table>

  </article>
<br>
<br>
  <article>
    <div class="container_2">
      というわけで、<br>「マイナンバーは５歳以上から運用」は<a class="fadein_2">　不正解　</a>です。
    </p>
  </article>　
  
  
  <br><br>
  <p id='output_1'></p>
  <br>
  <p id='output_2'></p>
  <br><br>
  

  
    <div id="return_button">
      <a class="return" href="/bingo_game">ビンゴ画面に戻る</a>
    </div>



    <script>
     
     
      var storage=localStorage;
      
      var d=new Date();
      Month=d.getMonth()+1; //getMonth()1月は0になる。
      time=d.getFullYear()+'/'+Month+'/'+d.getDate()+'/'+d.getHours()+'/'+d.getMinutes()+'/'+d.getSeconds()+'/'+d.getMilliseconds();

      var move=''; //'positive' data
      //var move_2=''; //'negative' data
      //var move_3=''; //'close' data
      var target_page_1_20=''; //whole data of this page
      var tg_1_20=storage.getItem('tg_1_20'); //a counter added to the key name//
      


      document.addEventListener('DOMContentLoaded', function(){
      
  
        //mouseenter
        document.getElementById('positive_1').addEventListener('mouseenter', function () {
          
          move=move+'positive'+',';
  
          //document.getElementById('output_1').textContent =move; 
      
        }, false);

        

        document.getElementById('return_button').addEventListener('click', function () {


          ID=storage.getItem('ID');
          target_page_1_20=ID+','+'target_page_1_20'+','+time+','+move;

          //document.getElementById('output_2').textContent =target_page_1_20; 

          tg_1_20=storage.getItem('tg_1_20'); //get a counter//
          tg_1_20=tg_1_20+1; //increment a counter//
          key='target_page_1_20'+'_'+tg_1_20; //set a new key name//
          storage.setItem(key, target_page_1_20); //store the value of target_page with a new key name//
          storage.setItem('tg_1_20', tg_1_20); // store a new key name//


        }, false);
      
 
      }, false);


    </script>



  </body>
  </html>