<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--　　出典：マイナンバーカードの保険証利用について　https://www.mhlw.go.jp/stf/newpage_08277.html-->
  </head>
  <body>
    <h1 class="page_header_1"><span>22</span>マイナンバーは特定健診情報や薬剤情報等が確認できる</h1>

  <article>
    <div class="container_1">

      <table>
        <tr><td>マイナポータルでマイナンバーカードを読み取れば、</td></tr>
        <tr><td>これまでの特定健診情報や薬剤情報、医療費情報が確認できるようになります。</td></tr>
      </table>

      <table>
        <tr><td>これによって、本人同意のもと、これらの情報を医師に提供することもでき、より</td></tr>
      </table>

      <table>
        <tr><td>良い医療を受ける事ができます。特に年配の方には朗報かも知れません。</td></tr>
        <tr><td>ご自分の体の調子について、正しく医者に伝えることがむずかしくなってきますから。</td></tr>
        <tr><td id='positive_1'>マイナンバーカードを持っていれば、医者の方でこれまでどんな治療を受けてきたかがわかるのです。</td></tr>
      </table>

      <table>
        <tr><td>今年８０歳になった山際さん（男性、大分市在住）は、</td></tr>
        <tr><td id='negative_1'>「ここのところ、もの覚えが特に悪くなってね。</td></tr>
        <tr><td id='negative_2'>さっき何やったかも忘れてしまうよ。本当に困ったことだ。</td></tr>
        <tr><td id='negative_3'>医者に行っても、昔受けた治療なんか思い出せないね。」</td></tr>
      </table>
    　
      <table>
        <tr><td id='positive_2'>こんな方には、マイナンバーカードでご自分の医療情報を医者に提供しておけば安心。</td></tr>
        <tr><td>あなたの代わりにマイナンバーが治療の記録をちゃんと覚えてくれているのです。</td></tr>
      </table>



    </div>
  </article>

  <article>
    <p class="container_2">
      というわけで、<br>「マイナンバーは特定健診情報や薬剤情報等が確認できる」は
    <a class="fadein_1">　正解　</a>です。
    </p>
  </article>　
   
  
  <br><br>
  <p id='output_1'></p>
  <br>
  <p id='output_2'></p>
  <br><br>

    

    <div id="return_button">
      <a class="return" href="/bingo_game">ビンゴ画面に戻る</a>
    </div>

    <script>
      

      var storage=localStorage;
      
      var d=new Date();
      Month=d.getMonth()+1; //getMonth()1月は0になる。
      time=d.getFullYear()+'/'+Month+'/'+d.getDate()+'/'+d.getHours()+'/'+d.getMinutes()+'/'+d.getSeconds()+'/'+d.getMilliseconds();

      var move=''; //'positive' data
      //var move_2=''; //'negative' data
      //var move_3=''; //'close' data
      var target_page_1_22=''; //whole data of this page
      var tg_1_22=storage.getItem('tg_1_22'); //a counter added to the key name//



      document.addEventListener('DOMContentLoaded', function(){
      
  
        //mouseenter
        document.getElementById('positive_1').addEventListener('mouseenter', function () {
          
          move=move+'positive'+',';
  
          //document.getElementById('output_1').textContent =move; 
      
        }, false);

        document.getElementById('positive_2').addEventListener('mouseenter', function () {
          
          move=move+'positive'+',';
  
          //document.getElementById('output_1').textContent =move; 
      
        }, false);


        document.getElementById('negative_1').addEventListener('mouseenter', function () {
          
          move=move+'negative'+',';
  
          //document.getElementById('output_1').textContent =move; 
      
        }, false);

       
        document.getElementById('negative_2').addEventListener('mouseenter', function () {
          
          move=move+'negative'+',';
  
          //document.getElementById('output_1').textContent =move; 
      
        }, false);
      

        document.getElementById('negative_3').addEventListener('mouseenter', function () {
          
          move=move+'negative'+',';
  
          //document.getElementById('output_1').textContent =move; 
      
        }, false);


        document.getElementById('return_button').addEventListener('click', function () {


          ID=storage.getItem('ID');
          target_page_1_22=ID+','+'target_page_1_22'+','+time+','+move;

          //document.getElementById('output_2').textContent =target_page_1_22; 

          tg_1_22=storage.getItem('tg_1_22'); //get a counter//
          tg_1_22=tg_1_22+1; //increment a counter//
          key='target_page_1_22'+'_'+tg_1_22; //set a new key name//
          storage.setItem(key, target_page_1_22); //store the value of target_page with a new key name//
          storage.setItem('tg_1_22', tg_1_22); // store a new key name//



        }, false);

        
      }, false);


    </script>



  </body>
  </html>