<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
       <!--出典：マイナンバー総合サイト　　https://www.kojinbango-card.go.jp/-->
  </head>
  <body>
    <h1 class="page_header_1"><span>７</span>マイナンバーと自治体各種カードは一体化できる</h1>

  <article>
    <div class="container_1">

    <table>
      <tr><td>市区町村や国等が提供する様々なサービス毎に必要だった複数のカードがマイナン</td></tr>
    </table>

    <table>
      <tr><td>バーカードと一体化できます。例えば、健康保険証・印鑑登録証明・図書館カード・</td></tr> 
    </table>

    <table>
      <tr><td>各種ポイントカードなどがあります。山田さん（女性、36歳、八王子市在住）は</td></tr>
    </table>

    <table>
      <tr><td>先日市の図書館を利用したのですが、マイナンバーカードで本を借りることができ</td></tr>
    </table>

    <table>
      <tr><td>たそうです。山田さんの声を聞いて下さい。</td></tr>
    </table>

    <table>
      <tr><td id='negative_1'>「マイナンバーカードで本を借りるには少し手続きが面倒だったけど、</td><td id='positive_1'>後は便利よ。</td></tr>
    </table>

    


    <table>
      <tr><td id='positive_2'>マイナンバーカードで本を借りることができるので、利用者カードがなくても大丈夫。</td></tr>
    </table>

    <table>
      <tr><td id='negative_2'>でも、マイキーIDと言ったかしら、それを登録しないといけないみたい。他の図書館もそうなのかしら。」</td></tr>
    </table>

    
  </div>
  </article>

  <article>
    <p class="container_2">
      というわけで、<br>「マイナンバーと自治体各種カードは一体化できる」は <a class="fadein_1">  正解  </a>です。
    </p>
  </article>
   

  <br><br>
  <p id='output_1'></p>
  <br>
  <p id='output_2'></p>
  <br><br>
  <!--
  <p id='output_3'></p>
  <br>
  <p id='output_4'></p>
  <br>
  -->


    <div id="return_button">
      <a class="return" href="/bingo_game">ビンゴ画面に戻る</a>
    </div>


    <script>
      
      var storage=localStorage;
      
      var d=new Date();
      Month=d.getMonth()+1; //getMonth()1月は0になる。
      time=d.getFullYear()+'/'+Month+'/'+d.getDate()+'/'+d.getHours()+'/'+d.getMinutes()+'/'+d.getSeconds()+'/'+d.getMilliseconds();

      var move=''; //'positive' data
      //var move_2=''; //'negative' data
      //var move_3=''; //'close' data
      var target_page_1_7=''; //whole data of this page
      var tg_1_7=storage.getItem('tg_1_7'); //a counter added to the key name//



      document.addEventListener('DOMContentLoaded', function(){
      
      
  
        //mouseenter
        document.getElementById('positive_1').addEventListener('mouseenter', function () {
          
          move=move+'positive'+',';
  
          //document.getElementById('output_1').textContent =move; 
      
        }, false);

        document.getElementById('positive_2').addEventListener('mouseenter', function () {
          
          move=move+'positive'+',';
  
          //document.getElementById('output_1').textContent =move; 
      
        }, false);


        document.getElementById('negative_1').addEventListener('mouseenter', function () {
          
          move=move+'negative'+',';
  
          //document.getElementById('output_1').textContent =move; 
      
        }, false);

        document.getElementById('negative_2').addEventListener('mouseenter', function () {
          
          move=move+'negative'+',';
  
          //document.getElementById('output_1').textContent =move; 
      
        }, false);


        document.getElementById('return_button').addEventListener('click', function () {


          ID=storage.getItem('ID');
          target_page_1_7=ID+','+'target_page_1_7'+','+time+','+move;

          //document.getElementById('output_2').textContent =target_page_1_7; 

          tg_1_7=storage.getItem('tg_1_7'); //get a counter//
          tg_1_7=tg_1_7+1; //increment a counter//
          key='target_page_1_7'+'_'+tg_1_7; //set a new key name//
          storage.setItem(key, target_page_1_7); //store the value of target_page with a new key name//
          storage.setItem('tg_1_7', tg_1_7); // store a new key name//

        }, false);


      }, false);


    </script>


  </body>

  </html>
