<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--出典：https://bitdays.jp/money/cashless/point/mynumbercard_point/53107/-->
  </head>
  <body>
    <h1 class="page_header_1"><span>16</span>マイナンバーはホテルが安くなる</h1>

  <article>
    <div class="container_1">

      <table>
        <tr><td></td></tr>
      </table>


      <table>
        <tr><td id='negative_1'>マイナポイントに対応可能な施設はありますが、マイナンバーカードでの割引はありません。</td></tr>
      </table>

      <table>
        <tr><td>ホテルなどでクーポン券を使うときに、マイナンバーカードを提示しなければいけない場合はあります。</td></tr>
        <tr><td id='negative_2'>でも、残念ながら宿泊代の割引をやっているホテルはないですね。</td></tr>
      </table>

      <table>
        <tr><td id='negative_3'>Go To トラベルとの関係もないようです。</td></tr>
      </table>

      <table>
        <tr><td>旅行好きの齋藤さん（男性、35歳、神奈川県在住）も、「コロナが減ったらみんな</td></tr>
      </table>   

      <table>
        <tr><td>旅行にでも行こうと話していたから、せっかくマイナンバーカードを広めるチャンス</td></tr>
      </table>   
          
      <table>      
        <tr><td>なのにね。もったいないな。」と残念がっています。</td></tr>
      </table>




    </div>
  </article>

  <article>
    <p class="container_2">
      というわけで、<br>「マイナンバーはホテルが安くなる」は <a class="fadein_2">  不正解  </a>です。
    </p>
  </article>　
   

  <br><br>
  <p id='output_1'></p>
  <br>
  <p id='output_2'></p>
  <br><br>
    

    <div id="return_button">
      <a class="return" href="/bingo_game">ビンゴ画面に戻る</a>
    </div>


    <script>
      
      var storage=localStorage;
      
      var d=new Date();
      Month=d.getMonth()+1; //getMonth()1月は0になる。
      time=d.getFullYear()+'/'+Month+'/'+d.getDate()+'/'+d.getHours()+'/'+d.getMinutes()+'/'+d.getSeconds()+'/'+d.getMilliseconds();

      var move=''; //'positive' data
      //var move_2=''; //'negative' data
      //var move_3=''; //'close' data
      var target_page_1_16=''; //whole data of this page
      var tg_1_16=storage.getItem('tg_1_16'); //a counter added to the key name//



      document.addEventListener('DOMContentLoaded', function(){
      
  
        //mouseenter
        document.getElementById('negative_1').addEventListener('mouseenter', function () {
          
          move=move+'negative'+',';
  
          //document.getElementById('output_1').textContent =move; 
      
        }, false);

        document.getElementById('negative_2').addEventListener('mouseenter', function () {
          
          move=move+'negative'+',';
  
          //document.getElementById('output_1').textContent =move; 
      
        }, false);


        document.getElementById('negative_3').addEventListener('mouseenter', function () {
          
          move=move+'negative'+',';
  
          //document.getElementById('output_1').textContent =move; 
      
        }, false);


        document.getElementById('return_button').addEventListener('click', function () {

          ID=storage.getItem('ID');
          target_page_1_16=ID+','+'target_page_1_16'+','+time+','+move;

          //document.getElementById('output_2').textContent =target_page_1_16; 

          tg_1_16=storage.getItem('tg_1_16'); //get a counter//
          tg_1_16=tg_1_16+1; //increment a counter//
          key='target_page_1_16'+'_'+tg_1_16; //set a new key name//
          storage.setItem(key, target_page_1_16); //store the value of target_page with a new key name//
          storage.setItem('tg_1_16', tg_1_16); // store a new key name//


        }, false);


       
 
      }, false);


    </script>


  </body>
  </html>