<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--　出典：マイナンバー総合サイト　　https://www.kojinbango-card.go.jp/-->
  </head>
  <body>
    <h1 class="page_header_1"><span>24</span>マイナンバーカードは旧姓を記載できる</h1>

  <article>
    <div class="container_1">

    

      <table>
        <tr><td>令和元年（2019年）11月5日から、ご本人からの申出により、</td></tr>
        <tr><td>住民票・マイナンバーカード・印鑑登録証明書に旧姓を併記することができるように</td></tr>
      </table>

      <table>
        <tr><td>なりました。但し、旧姓（旧氏）が記載されている戸籍（除籍）謄本等から現在まで</td></tr>
      </table>
      
      <table>
        <tr><td>つながる戸籍謄本が必要です。マイナンバーカードがあれば、戸籍謄本の請求も</td></tr>
      </table>

      <table>
        <tr><td>コンビニでできますよ。最近結婚した吉田さん（女性、29歳、熊本市在住）は</td></tr>
      </table>


      <table>
        <tr><td>マイナンバーカードに旧姓を記載しました。</td></tr>
        <tr><td>「そんなにこだわっているわけじゃはないけど、結婚前の苗字も好きだったの。</td></tr>
        <tr><td id='positive_1'>旧姓も一緒に記載できる自由はいいわね。」とのことです。</td></tr>
      </table>

      

    </div>
  </article>

  <article>
    <p class="container_2">
      というわけで、<br>「マイナンバーカードは旧姓を記載できる」は
    <a class="fadein_1">  正解  </a>です。
    </p>
  </article>　
   
    
  <br><br>
  <p id='output_1'></p>
  <br>
  <p id='output_2'></p>
  <br><br>


  
    <div id="return_button">
      <a class="return" href="/bingo_game">ビンゴ画面に戻る</a>
    </div>

    <script>
 
 
 var storage=localStorage;
      
      var d=new Date();
      Month=d.getMonth()+1; //getMonth()1月は0になる。
      time=d.getFullYear()+'/'+Month+'/'+d.getDate()+'/'+d.getHours()+'/'+d.getMinutes()+'/'+d.getSeconds()+'/'+d.getMilliseconds();

      var move=''; //'positive' data
      //var move_2=''; //'negative' data
      //var move_3=''; //'close' data
      var target_page_1_24=''; //whole data of this page
      var tg_1_24=storage.getItem('tg_1_24'); //a counter added to the key name//
      


      document.addEventListener('DOMContentLoaded', function(){
      
  
        //mouseenter
        document.getElementById('positive_1').addEventListener('mouseenter', function () {
          
          move=move+'positive'+',';
  
          //document.getElementById('output_1').textContent =move; 
      
        }, false);

        
        document.getElementById('return_button').addEventListener('click', function () {


          ID=storage.getItem('ID');
          target_page_1_24=ID+','+'target_page_1_24'+','+time+','+move;

          //document.getElementById('output_2').textContent =target_page_1_24; 

          tg_1_24=storage.getItem('tg_1_24'); //get a counter//
          tg_1_24=tg_1_24+1; //increment a counter//
          key='target_page_1_24'+'_'+tg_1_24; //set a new key name//
          storage.setItem(key, target_page_1_24); //store the value of target_page with a new key name//
          storage.setItem('tg_1_24', tg_1_24); // store a new key name//


        }, false);


        
      }, false);


    </script>



  </body>
  </html>